@using MultiTenant.IdentityServerFour.Models.Id4Permission
@model AddPermissionVM

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Create Permission</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="CreatePermission" method="post">
            <div class="form-group">
                <label asp-for="PermissionName">PermissionName</label>
                <input asp-for="PermissionName" class="form-control" placeholder="PermissionName">
            </div>
            <div class="form-group">
                <label asp-for="PermissionValue">PermissionValue</label>
                <input asp-for="PermissionValue" class="form-control" placeholder="PermissionValue">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning cancel">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>