@using MultiTenant.IdentityServerFour.Models.Id4Role
@model AddRoleVM

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Create Role</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="CreateRole" method="post">
            <div class="form-group">
                <label asp-for="RoleName">RoleName</label>
                <input asp-for="RoleName" class="form-control" placeholder="RoleName">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning cancel">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>