@using MultiTenant.IdentityServerFour.Models.Id4Permission
@model IEnumerable<PermissionListVM>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Permission List</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <p><a href="~/Home/CreatePermission" class="btn btn-success">Create</a></p>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <a href="~/home/EditPermission?permissionId=@item.PermissionId"> <li class="list-group-item">@item.PermissionName</li></a>
            }
        </ul>

    </div>
</div>